@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,700;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container__nav {
  background-color: #0A0A0A;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}
.container__nav .container__nav--logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 75px;
}
.container__nav .container__nav--logo img {
  height: 20px;
}
.container__nav .container__nav--lista {
  display: flex;
  align-items: center;
  margin-right: 75px;
}
.container__nav .container__nav--lista .nav--lista {
  display: flex;
  flex-direction: row;
}
.container__nav .container__nav--lista .nav--lista li {
  margin-left: 10px;
  padding-right: 10px;
  list-style: none;
}
.container__nav .container__nav--lista .nav--lista li:last-child {
  border-right: none;
}
.container__nav .container__nav--lista .nav--lista li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Saira;
  font-size: 1.125em;
  font-weight: 300;
  transition: 1s ease;
  padding-bottom: 10px;
}
.container__nav .container__nav--lista .nav--lista li a:hover {
  border-bottom: 1px solid #9933FF;
}

.container__divisao {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: #0A0A0A;
}
.container__divisao .divisao--header {
  height: 1px;
  background: linear-gradient(90deg, #150D1D 0%, #9532F7 100%);
  width: 90%;
}

.home {
  background-color: #0A0A0A;
  color: white;
  height: auto;
  font-family: "Saira", sans-serif;
  padding: 80px 0px;
}
.home .container__home {
  display: flex;
  flex-direction: row;
}
.home .container__home .container__home--texto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 35px;
}
.home .container__home .container__home--texto .container__home--apresentacao {
  display: flex;
  height: 80px;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
.home .container__home .container__home--texto .container__home--apresentacao h2 {
  font-size: 1.25em;
  font-family: Saira;
  font-weight: 400;
  margin-left: 35px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #9933FF 0%, #F900F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .container__home .container__home--texto .container__home--apresentacao .home__persona--img {
  height: 70px;
  width: 70px;
  margin: 15px;
  border-radius: 55px 55px 55px 0px;
  border: 4px solid transparent;
  padding: 5px;
  background: linear-gradient(#000, #000) padding-box, linear-gradient(to right, #F900F1, #9933FF) border-box;
}
.home .container__home .container__home--texto h1 {
  margin-left: 35px;
  margin-bottom: 15px;
  font-size: 5em;
  font-family: Saira;
  font-weight: 300;
  color: #FFFFFF;
}
.home .container__home .container__home--texto p {
  margin-left: 35px;
  margin-bottom: 15px;
  color: #5c5b5b;
  font-size: 1.25em;
  font-family: Saira;
  font-weight: 200;
  line-height: 1.8em;
}
.home .container__home .container__home--texto .container__home--local {
  margin-left: 35px;
  color: #5c5b5b;
  display: flex;
  align-items: center;
}
.home .container__home .container__home--texto .container__home--local .local--img img {
  height: 30px;
}
.home .container__home .container__home--texto .container__home--local .local--texto {
  font-size: 1em;
  font-family: Saira;
  font-weight: 300;
}
.home .container__home .container__home--texto .container__home--pontos img {
  height: 17.5599999428px;
  width: 272.9400024414px;
  left: 90px;
  top: 477px;
  border-radius: 0px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 16px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
}
.home .container__home .container__home--texto .container__home--linhas {
  width: 100%;
  left: -92px;
  margin-top: 116px;
  margin-bottom: 278px;
}
.home .container__home .container__home--logo {
  width: 40%;
  display: flex;
  justify-content: center;
}
.home .container__home .container__home--logo img {
  height: 400px;
}

.fazer {
  background-color: #0A0A0A;
  height: 400px;
  color: #FFFFFF;
  font-family: "Saira", sans-serif;
}
.fazer .container__fazer {
  display: flex;
  align-items: center;
}
.fazer .container__fazer .container__fazer--texto {
  width: 50%;
  padding-left: 65px;
}
.fazer .container__fazer .container__fazer--texto h2 {
  font-size: 3.25em;
  font-family: Saira;
  font-weight: 300;
  line-height: 81.85px;
}
.fazer .container__fazer .container__fazer--texto .divisao {
  margin-bottom: 35px;
  width: 103.2595596313px;
  height: 4px;
  background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
}
.fazer .container__fazer .container__fazer--texto h3 {
  font-size: 2.25em;
  font-family: Saira;
  font-weight: 250;
  line-height: 56.66px;
  margin-bottom: 30px;
}
.fazer .container__fazer .container__fazer--texto p {
  font-size: 1.2em;
  font-family: Saira;
  font-weight: 100;
  line-height: 27px;
  color: #5c5b5b;
}
.fazer .container__fazer .container__fazer--img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.fazer .container__fazer .container__fazer--img img {
  width: 700px;
}

.blog {
  width: 100%;
  height: auto;
  background-color: #0a0a0a;
}
.blog .blog-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 988px;
  height: 463px;
  position: relative;
  margin: auto;
  background-image: url("/assets/img/elementosdeapoio/backroundpapper.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 15px;
}
.blog .blog-slider__item {
  display: flex;
  align-items: center;
}
.blog h2 {
  padding-top: 45px;
  margin-bottom: 15px;
  font-size: 3.25em;
  font-family: Saira;
  font-weight: 300;
  color: #FFFFFF;
  padding-left: 60px;
}
.blog .divisao__blog {
  margin-left: 65px;
  margin-bottom: 35px;
  width: 103.2595596313px;
  height: 4px;
  background: linear-gradient(90deg, #9532f7 0%, #150d1d 100%);
}
.blog .container__blog {
  padding: 0px 0px 35px 0px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
}
.blog.blog-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
  position: absolute;
  width: 320px;
  height: 320px;
  left: 192px;
  top: 2686px;
  background: linear-gradient(90deg, rgba(153, 51, 255, 0.4) 0%, rgba(249, 0, 241, 0.4) 100%), url(.jpg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.blog .blog-slider__date {
  height: 13px;
  width: 182px;
  margin-bottom: 43px;
  border-radius: nullpx;
}
.blog .blog-slider__date p {
  font-family: Saira;
  font-size: 1rem;
  font-weight: 200;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  background: linear-gradient(90deg, rgba(249, 0, 241, 0.8) 1.5%, rgba(153, 51, 255, 0.8) 61.01%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.blog .blog-slider__title {
  height: 49px;
  width: 558px;
  left: 581px;
  margin-top: 27px;
  margin-bottom: 2px;
}
.blog .blog-slider__title p {
  font-family: Saira;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.blog .blog-slider__text {
  height: 101px;
  width: 488px;
  left: 581px;
  top: 2827px;
  margin-bottom: 30px;
  border-radius: nullpx;
}
.blog .blog-slider__text p {
  font-family: Saira;
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.blog .blog-slider__button {
  height: 43px;
  width: 141px;
  left: 559px;
  top: 2928px;
  padding: 8px, 4px, 8px, 4px;
}
.blog .blog-slider__button p {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.contato {
  background-image: url(../../../assets/img/rocketcloud.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  height: 800px;
  background-color: #0A0A0A;
  color: #FFF;
  padding-left: 65px;
  padding-right: 65px;
}
.contato .container__contato {
  height: auto;
}
.contato .container__contato h2 {
  margin-bottom: 15px;
  font-size: 3.25em;
  font-family: Saira;
  font-weight: 300;
  color: #FFFFFF;
}
.contato .container__contato .divisao {
  margin-bottom: 35px;
  width: 103.2595596313px;
  height: 4px;
  background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
}
.contato .container__contato .container__contato--texto {
  margin-top: 37px;
  font-family: "Saira", sans-serif;
}
.contato .container__contato .container__contato--texto h3 {
  font-size: 2.25em;
  font-weight: 250;
  font-family: Saira;
  max-width: 45%;
  line-height: 60px;
  margin-bottom: 37px;
}
.contato .container__contato .container__contato--texto p {
  font-size: 1.25em;
  font-family: Saira;
  font-weight: 100;
  color: #a0a0a0;
  margin-bottom: 37px;
}
.contato .container__contato .container__contato--botoa {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: left;
}
.contato .container__contato .container__contato--botoa .botao--caixa {
  width: 172px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(90deg, #8620E0 0%, #F900F1 100%);
  border-radius: 8px;
}
.contato .container__contato .container__contato--botoa .botao--caixa .botao--text a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.125em;
  font-family: Saira;
  font-weight: 100;
}
.contato .container__contato .container__contato--botoa .botao--caixa .botao--img img {
  width: 24px;
  border-radius: 25px;
}

footer {
  height: auto;
  padding: 45px 0px 0px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0A0A0A;
}
footer .divisao--footer {
  height: 1px;
  background: linear-gradient(90deg, #150D1D 0%, #9532F7 100%);
  width: 90%;
  margin-bottom: 35px;
}
footer .container__footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
}
footer .container__footer .container__footer--infos {
  display: flex;
  padding: 15px 25px;
  flex-direction: column;
  color: #FFF;
  width: 50%;
}
footer .container__footer .container__footer--infos h2 {
  font-size: 1.875em;
  font-family: Saira;
  font-weight: 250;
  margin-bottom: 25px;
}
footer .container__footer .container__footer--infos p {
  font-size: 1.125em;
  font-weight: 100;
  font-family: Saira;
  color: #A0A0A0;
  padding-bottom: 25px;
}
footer .container__footer .container__footer--infos .container__footer--form {
  width: 100%;
}
footer .container__footer .container__footer--infos .container__footer--form input {
  background-color: #1B1B1B;
  padding: 5px 15px;
  width: 412px;
  height: 36px;
  border: none;
  border-radius: 5px;
  margin-right: 8px;
  font-size: 0.813em;
  font-family: Saira;
  font-weight: 200;
}
footer .container__footer .container__footer--infos .container__footer--form button {
  border-radius: 5px;
  padding: 5px 15px;
  height: 36px;
  width: 158px;
  border: none;
  background: linear-gradient(90deg, #F900F1 0%, #8620E0 100%);
  color: #FFF;
  font-size: 1.125em;
  font-family: Saira;
  font-weight: 200;
}
footer .container__footer .container__footer--img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container__footer .container__footer--img img {
  height: 70px;
}
footer .container__footer--direitos {
  margin-top: 15px;
  text-align: center;
  background-color: #1B1B1B;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container__footer--direitos p {
  font-size: 0.813em;
  font-family: Saira;
  font-weight: 200;
  color: #A0A0A0;
}
footer .container__footer--direitos p img {
  margin: 0px 5px;
  height: 12px;
}

.equipe {
  width: 100%;
  height: auto;
  background-color: #0a0a0a;
}

.equipe h2 {
  padding-top: 45px;
  margin-bottom: 15px;
  font-size: 3.25em;
  font-family: Saira;
  font-weight: 300;
  color: #FFFFFF;
  padding-left: 60px;
}

.divisao__equipe {
  margin-left: 65px;
  margin-bottom: 35px;
  width: 103.2595596313px;
  height: 4px;
  background: linear-gradient(90deg, #9532f7 0%, #150d1d 100%);
}

.contianer__equipe {
  padding: 0px 0px 35px 0px;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a0a0a;
}

.equipe--card {
  position: relative;
  font-family: sans-serif;
  width: 150px;
  height: 150px;
  background: linear-gradient(380deg, #9532f7 0%, #150d1d 100%);
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 22px rgba(51, 51, 51, 0.4);
  transition: 0.6s;
  margin: 0 45px;
}

@keyframes vibrate {
  0% {
    padding: 1px;
  }
  25% {
    padding: 5px;
  }
  50% {
    padding: 30px;
  }
  75% {
    padding: 5px;
  }
  100% {
    padding: 1px;
  }
}
.equipe--card:hover {
  padding: 30px;
  border-radius: 10px;
  height: 260px;
}

.equipe--card .equipe--img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
}

.equipe--card:hover .equipe--img {
  transform: translateY(-60px);
}

.equipe--img img {
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px rgba(51, 51, 51, 0.4);
  transition: 0.6s;
}

.equipe--card:hover img {
  border-radius: 10px;
}

.equipe--infos {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;
}

.equipe--card:hover .equipe--infos {
  opacity: 1;
}

.equipe--infos h3 {
  font-weight: bold;
  font-size: 21px;
  font-family: sans-serif;
  color: #FFF;
}

.equipe--infos p {
  font-size: 15px;
  color: #F601F1;
  font-family: sans-serif;
  margin: 2px 0 9px 0;
}

.equipe--infos .social-links a {
  color: #333;
  margin-right: 15px;
  font-size: 21px;
  transition: 0.6s;
}

.social-links a:hover {
  color: #0c52a1;
}

.portfolio {
  padding: 65px;
  background-color: #0A0A0A;
  font-family: "Saira", sans-serif;
  color: #fff;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio h2 {
  margin-bottom: 15px;
  font-size: 3.25em;
  font-family: Saira;
  font-weight: 300;
  color: #FFFFFF;
}
.portfolio .divisao__equipe {
  margin-left: 0px;
}
.portfolio .container__portfolio {
  height: auto;
}
.portfolio .container__portfolio .divisao--portfolio {
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
}
.portfolio .container__portfolio .container__portfolio--caixa {
  position: relative;
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 200px;
  padding: 15px 35px;
}
.portfolio .container__portfolio .container__portfolio--caixa .portfolio--titulo {
  display: flex;
  align-items: center;
}
.portfolio .container__portfolio .container__portfolio--caixa .portfolio--titulo h3 {
  font-size: 2.25em;
  font-family: Saira;
  font-weight: 250;
}
.portfolio .container__portfolio .container__portfolio--caixa .portfolio--titulo img {
  opacity: 0;
  transition: 0.5s ease-in;
  position: absolute;
  left: 35%;
  top: -15%;
  height: 300px;
}
.portfolio .container__portfolio .container__portfolio--caixa .portfolio--titulo:hover img {
  opacity: 100;
}
.portfolio .container__portfolio .container__portfolio--caixa .portfolio--descritivo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.portfolio .container__portfolio .container__portfolio--caixa .portfolio--descritivo p {
  font-size: 1.5em;
  font-family: Saira;
  font-weight: 200;
  text-align: left;
}
.portfolio .container__portfolio .container__portfolio--caixa .portfolio--descritivo--data {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.portfolio .container__portfolio .container__portfolio--caixa .portfolio--descritivo--data p {
  font-size: 1em;
  font-family: Saira;
  font-weight: 200;
}

.container__home--social {
  margin-top: 35px;
  margin-left: 25px;
}

.container__home--social ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  display: flex;
}

.container__home--social ul li {
  list-style: none;
}

.container__home--social ul li a {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px #0f0f0f;
  background-color: #1B1B1B;
  transition: 0.5s;
}

.container__home--social ul li a:hover {
  box-shadow: 0 2px 5px #A0A0A0;
  text-decoration: none;
}

.container__home--social ul li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #292929;
  border-radius: 50%;
  line-height: 38px;
  font-size: 24px;
  color: #A0A0A0;
  transition: 0.5s;
}

.container__home--social .container__home--social, .container__home--social #icons-linkedin:hover {
  color: #0072b1;
}
.container__home--social .container__home--social, .container__home--social #icons-github:hover {
  color: #171515;
}
.container__home--social .container__home--social, .container__home--social #icons-instagram:hover {
  color: #4267B2;
}
.container__home--social .container__home--social, .container__home--social #icons-facebook:hover {
  color: #7289d9;
}
.container__home--social .container__home--social, .container__home--social #icons-youtube:hover {
  color: #FF0000;
}
.container__home--social .container__home--social, .container__home--social #icons-codepan:hover {
  color: #FFFFFF;
}
.container__home--social .container__home--social, .container__home--social #icons-discord:hover {
  color: #5865F2;
}
.container__home--social .container__home--social, .container__home--social #icons-twitter:hover {
  color: #00ACEE;
}
.container__home--social .container__home--social, .container__home--social #icons-google:hover {
  color: #DB4A39;
}/*# sourceMappingURL=main.css.map */