@import url("https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,700;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container__nav {
  background-color: #0A0A0A;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
  width: 100%;
}

.container__nav .container__nav--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 75px;
}

.container__nav .container__nav--logo img {
  height: 20px;
}

.container__nav .container__nav--lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 75px;
}

.container__nav .container__nav--lista .nav--lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container__nav .container__nav--lista .nav--lista li {
  margin-left: 10px;
  padding-right: 10px;
  list-style: none;
}

.container__nav .container__nav--lista .nav--lista li:last-child {
  border-right: none;
}

.container__nav .container__nav--lista .nav--lista li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: Saira;
  font-size: 1.125em;
  font-weight: 300;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  padding-bottom: 10px;
}

.container__nav .container__nav--lista .nav--lista li a:hover {
  border-bottom: 1px solid #9933FF;
}

.container__divisao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #0A0A0A;
}

.container__divisao .divisao--header {
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#150D1D), to(#9532F7));
  background: linear-gradient(90deg, #150D1D 0%, #9532F7 100%);
  width: 90%;
}

.home {
  background-color: #0A0A0A;
  color: white;
  height: auto;
  font-family: "Saira", sans-serif;
  padding: 80px 0px;
}

.home .container__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .container__home .container__home--texto {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 35px;
}

.home .container__home .container__home--texto .container__home--apresentacao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.home .container__home .container__home--texto .container__home--apresentacao h2 {
  font-size: 1.25em;
  font-family: Saira;
  font-weight: 400;
  margin-left: 35px;
  margin-bottom: 15px;
  background: -webkit-gradient(linear, left top, right top, from(#9933FF), to(#F900F1));
  background: linear-gradient(to right, #9933FF 0%, #F900F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home .container__home .container__home--texto .container__home--apresentacao img {
  height: 70px;
  width: 70px;
}

.home .container__home .container__home--texto h1 {
  margin-left: 35px;
  margin-bottom: 15px;
  font-size: 5em;
  font-family: Saira;
  font-weight: 300;
  color: #FFFFFF;
}

.home .container__home .container__home--texto p {
  margin-left: 35px;
  margin-bottom: 15px;
  color: #5c5b5b;
  font-size: 1.25em;
  font-family: Saira;
  font-weight: 200;
  line-height: 1.8em;
}

.home .container__home .container__home--texto .container__home--local {
  margin-left: 35px;
  color: #5c5b5b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .container__home .container__home--texto .container__home--local .local--img img {
  height: 30px;
}

.home .container__home .container__home--texto .container__home--local .local--texto {
  font-size: 1em;
  font-family: Saira;
  font-weight: 300;
}

.home .container__home .container__home--texto .container__home--pontos img {
  height: 17.559999942779541px;
  width: 272.94000244140625px;
  left: 90px;
  top: 477px;
  border-radius: 0px;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 16px;
  margin-bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .container__home .container__home--texto .container__home--linhas {
  height: 154px;
  width: 1551px;
  margin-top: 116px;
  margin-bottom: 278px;
}

.home .container__home .container__home--logo {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home .container__home .container__home--logo img {
  height: 400px;
}

.fazer {
  background-color: #0A0A0A;
  height: 400px;
  color: #FFFFFF;
  font-family: "Saira", sans-serif;
}

.fazer .container__fazer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fazer .container__fazer .container__fazer--texto {
  width: 50%;
  padding-left: 65px;
}

.fazer .container__fazer .container__fazer--texto h2 {
  font-size: 2.5em;
  line-height: 80px;
}

.fazer .container__fazer .container__fazer--texto .divisao {
  margin-bottom: 35px;
  width: 103.25955963134766px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#9532F7), to(#150D1D));
  background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
}

.fazer .container__fazer .container__fazer--texto h3 {
  font-size: 2.1em;
  margin-bottom: 30px;
}

.fazer .container__fazer .container__fazer--texto p {
  font-size: 1.2em;
  color: #5c5b5b;
}

.fazer .container__fazer .container__fazer--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.fazer .container__fazer .container__fazer--img img {
  width: 300px;
}

.contato {
  background-image: url(../../../assets/img/rocketcloud.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  height: 800px;
  background-color: #0A0A0A;
  color: #FFF;
  padding-left: 65px;
  padding-right: 65px;
}

.contato .container__contato {
  height: auto;
}

.contato .container__contato h2 {
  margin-bottom: 15px;
  font-size: 3em;
  color: #FFFFFF;
  font-family: "Saira", sans-serif;
  font-weight: 400;
}

.contato .container__contato .divisao {
  margin-bottom: 35px;
  width: 103.25955963134766px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#9532F7), to(#150D1D));
  background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
}

.contato .container__contato .container__contato--texto {
  margin-top: 37px;
  font-family: "Saira", sans-serif;
}

.contato .container__contato .container__contato--texto h3 {
  font-size: 3em;
  max-width: 45%;
  line-height: 60px;
  font-weight: 400;
  margin-bottom: 37px;
}

.contato .container__contato .container__contato--texto p {
  font-size: 1.3em;
  color: #a0a0a0;
  margin-bottom: 37px;
}

.contato .container__contato .container__contato--botoa {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.contato .container__contato .container__contato--botoa .botao--caixa {
  width: 172px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: -webkit-gradient(linear, left top, right top, from(#8620E0), to(#F900F1));
  background: linear-gradient(90deg, #8620E0 0%, #F900F1 100%);
  border-radius: 8px;
}

.contato .container__contato .container__contato--botoa .botao--caixa .botao--text a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1.125em;
  font-weight: 300;
}

.contato .container__contato .container__contato--botoa .botao--caixa .botao--img img {
  width: 24px;
  border-radius: 25px;
}

footer {
  height: auto;
  padding: 45px 0px 0px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #0A0A0A;
}

footer .divisao--footer {
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(#150D1D), to(#9532F7));
  background: linear-gradient(90deg, #150D1D 0%, #9532F7 100%);
  width: 90%;
  margin-bottom: 35px;
}

footer .container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .container__footer .container__footer--infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFF;
  width: 50%;
}

footer .container__footer .container__footer--infos h2 {
  font-size: 2em;
  margin-bottom: 5px;
}

footer .container__footer .container__footer--infos p {
  font-size: 18px;
  font-weight: 400;
  font-family: Saira;
  color: #A0A0A0;
  padding-bottom: 15px;
}

footer .container__footer .container__footer--infos .container__footer--form {
  width: 100%;
}

footer .container__footer .container__footer--infos .container__footer--form input {
  background-color: #1B1B1B;
  padding: 5px 15px;
  width: 412px;
  height: 36px;
  border: none;
  border-radius: 5px;
  margin-right: 8px;
}

footer .container__footer .container__footer--infos .container__footer--form button {
  border-radius: 5px;
  padding: 5px 15px;
  height: 36px;
  width: 158px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#F900F1), to(#8620E0));
  background: linear-gradient(90deg, #F900F1 0%, #8620E0 100%);
  color: #FFF;
}

footer .container__footer .container__footer--img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container__footer .container__footer--img img {
  height: 70px;
}

footer .container__footer--direitos {
  margin-top: 15px;
  text-align: center;
  background-color: #1B1B1B;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .container__footer--direitos p {
  font-size: 1.2em;
  color: #A0A0A0;
}

footer .container__footer--direitos p img {
  margin: 0px 5px;
  height: 12px;
}

.equipe {
  width: 100%;
  height: auto;
  background-color: #0a0a0a;
}

.equipe h2 {
  padding-top: 45px;
  margin-bottom: 15px;
  font-size: 3em;
  color: #FFFFFF;
  font-family: "Saira", sans-serif;
  font-weight: 400;
  padding-left: 60px;
}

.divisao__equipe {
  margin-left: 65px;
  margin-bottom: 35px;
  width: 103.25955963134766px;
  height: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#9532f7), to(#150d1d));
  background: linear-gradient(90deg, #9532f7 0%, #150d1d 100%);
}

.contianer__equipe {
  padding: 0px 0px 35px 0px;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0a0a0a;
}

.equipe--card {
  position: relative;
  font-family: sans-serif;
  width: 150px;
  height: 150px;
  background: linear-gradient(380deg, #9532f7 0%, #150d1d 100%);
  padding: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 22px #3336;
          box-shadow: 0 0 22px #3336;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin: 0 45px;
}

@-webkit-keyframes vibrate {
  0% {
    padding: 1px;
  }
  25% {
    padding: 5px;
  }
  50% {
    padding: 30px;
  }
  75% {
    padding: 5px;
  }
  100% {
    padding: 1px;
  }
}

@keyframes vibrate {
  0% {
    padding: 1px;
  }
  25% {
    padding: 5px;
  }
  50% {
    padding: 30px;
  }
  75% {
    padding: 5px;
  }
  100% {
    padding: 1px;
  }
}

.equipe--card:hover {
  padding: 30px;
  border-radius: 10px;
  height: 260px;
}

.equipe--card .equipe--img {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 99;
}

.equipe--card:hover .equipe--img {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.equipe--img img {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 22px #3336;
          box-shadow: 0 0 22px #3336;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.equipe--card:hover img {
  border-radius: 10px;
}

.equipe--infos {
  text-align: center;
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.equipe--card:hover .equipe--infos {
  opacity: 1;
}

.equipe--infos h3 {
  font-weight: bold;
  font-size: 21px;
  font-family: sans-serif;
  color: #FFF;
}

.equipe--infos p {
  font-size: 15px;
  color: #F601F1;
  font-family: sans-serif;
  margin: 2px 0 9px 0;
}

.equipe--infos .social-links a {
  color: #333;
  margin-right: 15px;
  font-size: 21px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.social-links a:hover {
  color: #0c52a1;
}

.portfolio {
  padding: 65px;
  background-color: #0A0A0A;
  font-family: "Saira", sans-serif;
  color: #fff;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio h2 {
  margin-bottom: 15px;
  font-size: 3em;
  color: #FFFFFF;
  font-family: "Saira", sans-serif;
  font-weight: 400;
}

.portfolio .divisao__equipe {
  margin-left: 0px;
}

.portfolio .container__portfolio {
  height: auto;
}

.portfolio .container__portfolio .divisao--portfolio {
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#9532F7), to(#150D1D));
  background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
}

.portfolio .container__portfolio .container__portfolio--caixa {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  height: 200px;
  padding: 15px 35px;
}

.portfolio .container__portfolio .container__portfolio--caixa .portfolio--titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .container__portfolio .container__portfolio--caixa .portfolio--titulo h3 {
  font-size: 3em;
}

.portfolio .container__portfolio .container__portfolio--caixa .portfolio--titulo img {
  opacity: 0;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  position: absolute;
  left: 35%;
  top: -15%;
  height: 300px;
}

.portfolio .container__portfolio .container__portfolio--caixa .portfolio--titulo:hover img {
  opacity: 100;
}

.portfolio .container__portfolio .container__portfolio--caixa .portfolio--descritivo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio .container__portfolio .container__portfolio--caixa .portfolio--descritivo p {
  font-size: 2em;
}

.container__home--social {
  margin-top: 35px;
  margin-left: 25px;
}

.container__home--social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding: 0;
  display: flex;
}

.container__home--social ul li {
  list-style: none;
}

.container__home--social ul li a {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  margin: 0 10px;
  border-radius: 50%;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-box-shadow: 0 10px 15px #0f0f0f;
          box-shadow: 0 10px 15px #0f0f0f;
  background-color: #1B1B1B;
  -webkit-transition: .5s;
  transition: .5s;
}

.container__home--social ul li a:hover {
  -webkit-box-shadow: 0 2px 5px #A0A0A0;
          box-shadow: 0 2px 5px #A0A0A0;
  text-decoration: none;
}

.container__home--social ul li a .fab {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #292929;
  border-radius: 50%;
  line-height: calc(50px - 12px);
  font-size: 24px;
  color: #A0A0A0;
  -webkit-transition: .5s;
  transition: .5s;
}

.container__home--social ul li:nth-child(1) a:hover .fab {
  color: #037fac;
}

.container__home--social ul li:nth-child(2) a:hover .fab {
  color: #00aced;
}

.container__home--social ul li:nth-child(3) a:hover .fab {
  color: #dd4b39;
}

.container__home--social ul li:nth-child(4) a:hover .fab {
  color: #007bb6;
}

.container__home--social ul li:nth-child(5) a:hover .fab {
  color: #e4405f;
}
/*# sourceMappingURL=main.css.map */