.blog{
    background-color: $preto-principal;
    height: 1000px;
    padding-left: 65px;
    padding-right: 65px;
    font-family: $font-primaria;

    h2{
        padding-top: 45px;
        margin-bottom: 15px;
        font-size: 3em;
        color: $texto-cor-primaria;
        font-family: $font-primaria;
        font-weight: 400;
    
    }


    .divisao{
        margin-bottom: 35px;
        width: 103.25955963134766px;
        height: 4px;                
        background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
    
    }


    .container__blog--botao{
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;

        .blog--botao{
            width: 172px;
            height: 43px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            justify-content: space-evenly;
            background: linear-gradient(90deg, #8620E0 0%, #F900F1 100%);
            border-radius: 8px;

            .blog--texto{
                a{
                    text-decoration: none;
                    color: $texto-cor-primaria;
                    font-size: 1.125em;
                    font-weight: 300;
                }
            }

            .blog--img{

                img{
                    width: 24px;
                    border-radius: 25px;
                }
            }
        }
    }
    .container__blog{
        display: flex;
        justify-content: space-between;
        height: auto;   
        
        .container__blogs{
            width: 30%;
            height: 550px;
            margin-bottom: 35px;
            border-radius: 20px;
            background-color: rgb(24, 23, 23);

            a{
                padding-left: 15px;
                text-decoration: none;
                font-size: 1.125em;
                font-weight: 400;
               
                background-image: linear-gradient(180deg, #9933FF 0%, #F900F1 100%);
                color: black;
                background-clip: text;
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
               
            }

            .container__blogs--img{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                border-radius: 8px;
                height: 200px;

                img {
                    width: 100%;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    height: 200px;
                }
            }

            .container__blogs--text{
                padding: 30px 15px;

                span{
                    color: $texto-cor-secundaria;
                    font-size: 1em;
                }
                h3{
                    margin-top: 24px;
                    color: white;
                    font-size: 1.5em;

                    line-height: 24px;
                    font-weight: 400;
                    margin-bottom: 8px;

                }

                p{
                    margin-top: 24px;
                    font-size: 1.125em;
                    line-height: 25px;
                    font-weight: 300;
                    color: $texto-cor-secundaria;
                }

            }
        }

    }
}