.blog {

    .blog-slider {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 988px;
        height: 463px;
        position: relative;
        margin: auto;
        background-image: url("/assets/img/elementosdeapoio/backroundpapper.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);

        border-radius: 15px;


        &__item {
            display: flex;
            align-items: center;
        }
    }

    width: 100%;
    height: auto;
    background-color: #0a0a0a;

    h2 {
        padding-top: 45px;
        margin-bottom: 15px;
        font-size: 3.25em;
        font-family: Saira;
        font-weight: 300;
        color: $texto-cor-primaria;
        padding-left: 60px;
    }

    .divisao__blog {
        margin-left: 65px;
        margin-bottom: 35px;
        width: 103.25955963134766px;
        height: 4px;

        background: linear-gradient(90deg, #9532f7 0%, #150d1d 100%);
    }

    .container__blog {
        padding: 0px 0px 35px 0px;
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0a0a0a;


    }

    &.blog-slider__img {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            opacity: 0;
            border-radius: 20px;
            transition: all .3s;

            position: absolute;
            width: 320px;
            height: 320px;
            left: 192px;
            top: 2686px;

            background: linear-gradient(90deg, rgba(153, 51, 255, 0.4) 0%, rgba(249, 0, 241, 0.4) 100%), url(.jpg);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
        }
    }

    .blog-slider__date {
        height: 13px;
        width: 182px;
        margin-bottom: 43px;
        border-radius: nullpx;


        p {
            font-family: Saira;
            font-size: 1rem;
            font-weight: 200;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: left;

            background: linear-gradient(90deg, rgba(249, 0, 241, 0.8) 1.5%, rgba(153, 51, 255, 0.8) 61.01%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }

    }

    .blog-slider__title {

        height: 49px;
        width: 558px;
        left: 581px;
        margin-top: 27px;
        margin-bottom: 2px;



        p {
            font-family: Saira;
            font-size: 1.875rem;
            font-weight: 300;
            line-height: 39px;
            letter-spacing: 0em;
            text-align: left;
            color: #fff;
        }

    }

    .blog-slider__text {

        height: 101px;
        width: 488px;
        left: 581px;
        top: 2827px;
        margin-bottom: 30px;
        border-radius: nullpx;


        p {
            font-family: Saira;
            font-size: 18px;
            font-weight: 200;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(255, 255, 255, 0.8);
        }
    }

    .blog-slider__button {
        height: 43px;
        width: 141px;
        left: 559px;
        top: 2928px;
        padding: 8px, 4px, 8px, 4px;

        p {

            font-family: 'Saira';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            display: flex;
            align-items: center;
            color: #FFFFFF;
        }

    }
}