@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100;0,200;0,300;0,400;0,700;1,400&display=swap');

// cores de fundo
$preto-principal : #0A0A0A;
$branco-secundario : #FFFFFF;

// cor de texto
$texto-cor-primaria : #FFFFFF;
$texto-cor-secundaria : #5c5b5b;
$textp-cor-terceira : #a0a0a0;
$texto-cor-destaques : #9933FF;

// fontes
$font-primaria: 'Saira', sans-serif;
