.fazer {
    background-color: $preto-principal;
    height: 400px;
    color: $texto-cor-primaria;
    font-family: $font-primaria;

    .container__fazer{
        display: flex;
        align-items: center;

        .container__fazer--texto {
            width: 50%;
            padding-left: 65px;
            h2{
                font-size: 3.25em;
                font-family: Saira;
                font-weight: 300;
                line-height: 81.85px;
                
            }
            .divisao{
                margin-bottom: 35px;
                width: 103.25955963134766px;
                height: 4px;                

                background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
            }
            h3{
                font-size: 2.25em;
                font-family: Saira;
                font-weight: 250;
                line-height: 56.66px;
                margin-bottom: 30px;
            }

            p{
                font-size: 1.2em;
                font-family: Saira;
                font-weight: 100;
                line-height: 27px;
                color: $texto-cor-secundaria;
            }


        }
        .container__fazer--img{
            
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

            img{
                width: 700px;
            }
            
        }
    }
}