.fazer {
    background-color: $preto-principal;
    height: 400px;
    color: $texto-cor-primaria;
    font-family: $font-primaria;

    .container__fazer{
        display: flex;
        align-items: center;

        .container__fazer--texto {
            width: 50%;
            padding-left: 65px;
            h2{
                font-size: 2.5em;
                line-height: 80px;
                
            }
            .divisao{
                margin-bottom: 35px;
                width: 103.25955963134766px;
                height: 4px;                

                background: linear-gradient(90deg, #9532F7 0%, #150D1D 100%);
            }
            h3{
                font-size: 2.1em;
                margin-bottom: 30px;
            }

            p{
                font-size: 1.2em;
                color: $texto-cor-secundaria;
            }


        }
        .container__fazer--img{
            
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;

            img{
                width: 300px;
            }
            
        }
    }
}