.home {
    background-color: $preto-principal;
    color: white;
    height: auto;
    font-family: $font-primaria;
    padding: 80px 0px;


    .container__home {
        display: flex;
        flex-direction: row;


        .container__home--texto{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 35px;


            .container__home--apresentacao{
                display: flex;
                height: 80px;
                align-items: flex-end;
                justify-content: space-between;
                width: 100%;

                
                h2{
                    
                    font-size: 1.25em;
                    font-family: Saira;
                    font-weight:400;
                    margin-left: 35px;
                    margin-bottom: 15px;
                    background: linear-gradient(to right, #9933FF 0%, #F900F1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                img{
                  height: 70px;
                  width: 70px;
                }
            }

           
            h1{
                margin-left: 35px;
                margin-bottom: 15px;
                font-size: 5em;
                font-family: Saira;
                font-weight: 300;
                color: $texto-cor-primaria;
                
                
            }

            p {
                margin-left: 35px;
                margin-bottom: 15px;
                color: $texto-cor-secundaria;
                font-size: 1.25em;
                font-family: Saira;
                font-weight: 200;
                line-height: 1.8em;
            }



            .container__home--local{
                margin-left: 35px;
                color: $texto-cor-secundaria;
                display: flex;
                align-items: center;

                .local--img{
                    img{
                        height: 30px;
                    }
                }
              .local--texto{
                  font-size: 1em;
                  font-family: Saira;
                  font-weight: 300;
              }
            }

            .container__home--pontos{
               img{
                height: 17.559999942779541px;
                width: 272.94000244140625px;
                left: 90px;
                top: 477px;
                border-radius: 0px;

                margin-left: 35px;
                margin-right: 35px;
                margin-top: 16px;
                margin-bottom: 1px;
                display: flex;
                align-items: center;
               }
            }

            .container__home--linhas {
                height: 154px;
                width: 1551px;
                margin-top: 116px;
                margin-bottom: 278px;
                

            }

            // .container__home--social{
            //     margin-top: 35px;
            //     ul{
            //         display: flex;
            //         flex-direction: row;
            //         margin-left: 35px;

                    
                    
            //         li{
            //             background-color: #313131;
            //             border-radius: 50%;
            //             margin: 0px 5px ;
            //             height: 45px;
            //             width: 45px;
            //             display: flex;
            //             justify-content: center;
            //             align-items: center;
            //             transition: 0.7s ease-in-out;
            //             &:hover{
            //                 transform: scale(1.2);
            //             }

            //             a{
            //                 text-decoration: none;

            //                 img{
            //                     height: 22px;

            //                 }
            //                 #youtube{
            //                     margin-top: 6px;
            //                 }
            //             }
            //         }

            //     }
            // }
        }

        .container__home--logo{
            width: 40%;
            display: flex;
            justify-content: center;
            img{
                height: 400px;
            }
        }
    }
}